doctype html
html(lang="en")
head
  include head.jade
body

  div.container
    div.header
      h3.text-muted
      
    div.jumbotron
      h1 logshare
      p.lead Quickly share streaming log data with your colleagues
      p.clearfix 
      
      div#error
      
    h2 Installation
    
    pre > npm install -g logshare
    
    a(href="https://www.npmjs.com/package/logshare") logshare on NPM
    
    h2 Sharing
    
    pre.
      > tail -f /var/log/system.log | logshare
      Share URL: https://logshare.mybluemix.net/share/kkdgapgdx
      
    div Then share the URL for hit Ctrl-C to stop sharing.
    
    div &nbsp;
        
    div         
      img.img-responsive(src="https://raw.githubusercontent.com/glynnbird/logshare-server/master/public/img/demo.gif")

    div &nbsp;
    
    div Command-line users can consume the feed at their terminal with:
    pre.
      >  logshare https://logshare.mybluemix.net/share/kkdgapgdx
    div or
    pre.
      >  logshare kkdgapgdx

    h2 Source code
    
    div
      ul
        li
          a(href="https://github.com/glynnbird/logshare-client") logshare-client
        li
          a(href="https://github.com/glynnbird/logshare-server") logshare-server
               
    
 