doctype html
html(lang="en")
head
  include head.jade
  script(src="/socket.io/socket.io.js")
  script(src="/js/logshare.js")
body
  include nav.jade

  script var logshareid="#{id}";
  
  div.container-fluid.logs
   